In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('data/map.txt',sep='\t').rename({
    'weight<Links>':'weight_links',
    'weight<Total link strength>':'weight_link_strength',
    'weight<No. of pub. (2000-2018)>':'weight_no_pub',
    'score<Avg. pub. year>':'score'
},axis=1)
df.head()

,id,label,description,x,y,cluster,weight_links,weight_link_strength,weight_no_pub,score
0,1,1,<table><tr><td>Meso-level field:</td><td>1</td...,-0.6420,-0.1343,2,780,3911807,198178,2006.6686
1,2,2,<table><tr><td>Meso-level field:</td><td>2</td...,0.4764,-0.4529,3,763,2196950,173214,2009.8160
2,3,3,<table><tr><td>Meso-level field:</td><td>3</td...,1.3570,0.0642,3,701,540366,153393,2009.6631
3,4,4,<table><tr><td>Meso-level field:</td><td>4</td...,0.6133,0.0874,4,773,874280,147319,2010.0063
4,5,5,<table><tr><td>Meso-level field:</td><td>5</td...,-0.1829,0.8266,1,769,606020,134547,2010.7999

In [17]:
df.to_json('data/map_data.js',orient='records',lines=True)

In [23]:
df.y.min()

-0.5097

In [25]:
df.to_excel('data.xlsx')

In [30]:
import math
math.sqrt(df.weight_no_pub.min())

50.0

In [33]:
df.cluster.min()

1